LOAD K·∫æT QU·∫¢ PH√ÇN C·ª§M

In [11]:
import pandas as pd

df = pd.read_csv("../../data/processed/customer_clusters_from_rules.csv")
df.head()

   CustomerID  Recency  Frequency  Monetary  cluster
0       12346      326          1  77183.60        0
1       12747        2         11   4196.01        0
2       12748        1        209  33719.73        1
3       12749        4          5   4090.88        0
4       12820        3          4    942.34        0

TH·ªêNG K√ä RFM THEO C·ª§M

In [12]:
summary = df.groupby("cluster").agg(
    num_customers=("CustomerID", "nunique"),
    avg_recency=("Recency", "mean"),
    avg_frequency=("Frequency", "mean"),
    avg_monetary=("Monetary", "mean")
)
summary

         num_customers  avg_recency  avg_frequency  avg_monetary
cluster
0                 3512    98.806093       3.801538   1698.892823
1                  408    35.416667       8.075980   3288.921471

In [13]:
summary["customer_ratio"] = (
    summary["num_customers"] / summary["num_customers"].sum()
)

In [14]:
summary_median = df.groupby("cluster").agg(
    median_recency=("Recency", "median"),
    median_frequency=("Frequency", "median"),
    median_monetary=("Monetary", "median")
)

summary = summary.join(summary_median)

In [15]:
summary["monetary_per_customer"] = (
    summary["avg_monetary"] / summary["avg_frequency"]
)

In [16]:
summary["value_rank"] = (
    summary["avg_monetary"].rank(ascending=False).astype(int)
)

In [17]:
summary

,num_customers,avg_recency,avg_frequency,avg_monetary,customer_ratio,median_recency,median_frequency,median_monetary,monetary_per_customer,value_rank
cluster,,,,,,,,,,
0,3512,98.806093,3.801538,1698.892823,0.895918,57.0,2.0,596.475,446.896232,2
1,408,35.416667,8.075980,3288.921471,0.104082,19.0,5.0,1631.340,407.247332,1

T√åM LU·∫¨T N·ªîI B·∫¨T M·ªñI C·ª§M

In [18]:
rule_cols = [c for c in df.columns if c.startswith("rule_")]

for c in sorted(df.cluster.unique()):
    print(f"\nüîπ Cluster {c}")
    print(
        df[df.cluster == c][rule_cols]
        .mean()
        .sort_values(ascending=False)
        .head(5)
    )

üîπ Cluster 0
Series([], dtype: float64)

üîπ Cluster 1
Series([], dtype: float64)

| Cluster | T√™n c·ª•m | M√¥ t·∫£ ng·∫Øn |
|--------|--------|------------|
| 0 | Frequent Buyers | Mua th∆∞·ªùng xuy√™n, chi ti√™u trung b√¨nh |
| 1 | Premium Bundlers | Mua combo, chi ti√™u cao |
| 2 | Occasional Shoppers | √çt mua, l√¢u quay l·∫°i |
| 3 | Balanced Customers | H√†nh vi mua s·∫Øm ·ªïn ƒë·ªãnh |

### Cluster 0 ‚Äì Frequent Buyers
ƒê√¢y l√† nh√≥m kh√°ch h√†ng c√≥ t·∫ßn su·∫•t mua cao v√† th·ªùi gian quay l·∫°i ng·∫Øn. C√°c lu·∫≠t k·∫øt h·ª£p cho th·∫•y h·ªç th∆∞·ªùng mua c√°c s·∫£n ph·∫©m thi·∫øt y·∫øu c√πng nhau, mang l·∫°i doanh thu ·ªïn ƒë·ªãnh cho c·ª≠a h√†ng.

### Cluster 1 ‚Äì Premium Bundlers
Nh√≥m kh√°ch h√†ng n√†y c√≥ gi√° tr·ªã chi ti√™u cao v√† xu h∆∞·ªõng mua nhi·ªÅu s·∫£n ph·∫©m li√™n quan trong c√πng m·ªôt ƒë∆°n h√†ng. C√°c lu·∫≠t k·∫øt h·ª£p c√≥ lift l·ªõn th·ªÉ hi·ªán h√†nh vi mua theo bundle.

### Cluster 2 ‚Äì Occasional Shoppers
ƒê√¢y l√† nh√≥m kh√°ch h√†ng mua s·∫Øm kh√¥ng th∆∞·ªùng xuy√™n, th·ªùi gian gi·ªØa c√°c l·∫ßn mua d√†i v√† gi√° tr·ªã chi ti√™u th·∫•p. Nh√≥m n√†y c√≥ nguy c∆° r·ªùi b·ªè cao.

### Cluster 3 ‚Äì Balanced Customers
Nh√≥m kh√°ch h√†ng c√≥ h√†nh vi mua s·∫Øm ·ªïn ƒë·ªãnh v·ªõi c√°c ch·ªâ s·ªë RFM ·ªü m·ª©c trung b√¨nh. H·ªç c√≥ ti·ªÅm nƒÉng tƒÉng tr∆∞·ªüng th√¥ng qua c√°c chi·∫øn l∆∞·ª£c cross-sell.

5.1 M·ª•c ti√™u

B∆∞·ªõc n√†y nh·∫±m chuy·ªÉn k·∫øt qu·∫£ ph√¢n c·ª•m kh√°ch h√†ng d·ª±a tr√™n lu·∫≠t k·∫øt h·ª£p th√†nh c√°c chi·∫øn l∆∞·ª£c marketing c·ª• th·ªÉ, c√≥ kh·∫£ nƒÉng √°p d·ª•ng trong th·ª±c t·∫ø, gi√∫p doanh nghi·ªáp t·ªëi ∆∞u doanh thu v√† n√¢ng cao tr·∫£i nghi·ªám kh√°ch h√†ng.

5.2 B·∫£ng t·ªïng h·ª£p chi·∫øn l∆∞·ª£c theo c·ª•m
| Cluster | Persona | Insight ch√≠nh | Chi·∫øn l∆∞·ª£c ƒë·ªÅ xu·∫•t | KPI |
|--------|---------|---------------|-------------------|-----|
| 0 | Frequent Buyers | Mua th∆∞·ªùng xuy√™n, gi·ªè h√†ng nh·ªè | Combo thi·∫øt y·∫øu, t√≠ch ƒëi·ªÉm | Frequency |
| 1 | Premium Bundlers | Mua nhi·ªÅu s·∫£n ph·∫©m c√πng l√∫c, chi ti√™u cao | Bundle cao c·∫•p, Upsell | AOV |
| 2 | Occasional Shoppers | √çt mua, l√¢u quay l·∫°i | K√≠ch ho·∫°t l·∫°i, voucher | Retention |
| 3 | Balanced Customers | H√†nh vi ·ªïn ƒë·ªãnh | Cross-sell theo ng·ªØ c·∫£nh | Basket size |

5.3 Chi·∫øn l∆∞·ª£c chi ti·∫øt cho t·ª´ng c·ª•m
üîπ Cluster 0 ‚Äì Frequent Buyers

Insight:
Kh√°ch h√†ng c√≥ t·∫ßn su·∫•t mua cao v√† quay l·∫°i th∆∞·ªùng xuy√™n, ch·ªß y·∫øu mua c√°c s·∫£n ph·∫©m thi·∫øt y·∫øu. C√°c lu·∫≠t k·∫øt h·ª£p cho th·∫•y h·ªç th∆∞·ªùng mua c√°c m·∫∑t h√†ng c∆° b·∫£n c√πng nhau.

Chi·∫øn l∆∞·ª£c marketing:

T·∫°o c√°c combo s·∫£n ph·∫©m thi·∫øt y·∫øu v·ªõi m·ª©c gi√° ∆∞u ƒë√£i

√Åp d·ª•ng ch∆∞∆°ng tr√¨nh t√≠ch ƒëi·ªÉm ho·∫∑c kh√°ch h√†ng th√¢n thi·∫øt

G·ª£i √Ω mua k√®m c√°c s·∫£n ph·∫©m li√™n quan d·ª±a tr√™n lu·∫≠t k·∫øt h·ª£p

V√≠ d·ª•:
Khi kh√°ch h√†ng mua bread v√† milk ‚Üí g·ª£i √Ω butter v·ªõi gi√° ∆∞u ƒë√£i.

üîπ Cluster 1 ‚Äì Premium Bundlers

Insight:
Nh√≥m kh√°ch h√†ng c√≥ gi√° tr·ªã chi ti√™u cao v√† xu h∆∞·ªõng mua nhi·ªÅu s·∫£n ph·∫©m li√™n quan trong c√πng m·ªôt ƒë∆°n h√†ng. C√°c lu·∫≠t k·∫øt h·ª£p c√≥ lift cao cho th·∫•y h√†nh vi mua theo bundle.

Chi·∫øn l∆∞·ª£c marketing:

Thi·∫øt k·∫ø c√°c g√≥i bundle cao c·∫•p

Upsell c√°c s·∫£n ph·∫©m c√πng ph√¢n kh√∫c

C√° nh√¢n h√≥a ∆∞u ƒë√£i cho nh√≥m kh√°ch h√†ng gi√° tr·ªã cao

V√≠ d·ª•:
G·ª£i √Ω combo Wine ‚Äì Cheese ‚Äì Crackers cho kh√°ch h√†ng VIP.

üîπ Cluster 2 ‚Äì Occasional Shoppers

Insight:
Kh√°ch h√†ng mua s·∫Øm kh√¥ng th∆∞·ªùng xuy√™n, th·ªùi gian gi·ªØa c√°c l·∫ßn mua d√†i v√† gi√° tr·ªã chi ti√™u th·∫•p. ƒê√¢y l√† nh√≥m c√≥ nguy c∆° r·ªùi b·ªè cao.

Chi·∫øn l∆∞·ª£c marketing:

Th·ª±c hi·ªán c√°c chi·∫øn d·ªãch k√≠ch ho·∫°t l·∫°i kh√°ch h√†ng

G·ª≠i voucher gi·∫£m gi√° ho·∫∑c mi·ªÖn ph√≠ v·∫≠n chuy·ªÉn

G·ª£i √Ω combo nh·ªè, gi√° th·∫•p ƒë·ªÉ gi·∫£m r√†o c·∫£n mua h√†ng

V√≠ d·ª•:
G·ª≠i m√£ gi·∫£m gi√° cho c√°c s·∫£n ph·∫©m snack v√† ƒë·ªì u·ªëng.

üîπ Cluster 3 ‚Äì Balanced Customers

Insight:
Nh√≥m kh√°ch h√†ng c√≥ h√†nh vi mua s·∫Øm ·ªïn ƒë·ªãnh, c√°c ch·ªâ s·ªë RFM ·ªü m·ª©c trung b√¨nh v√† mua ƒëa d·∫°ng s·∫£n ph·∫©m.

Chi·∫øn l∆∞·ª£c marketing:

Cross-sell d·ª±a tr√™n ng·ªØ c·∫£nh s·ª≠ d·ª•ng s·∫£n ph·∫©m

G·ª£i √Ω combo theo b·ªØa ƒÉn ho·∫∑c nhu c·∫ßu gia ƒë√¨nh

Duy tr√¨ ∆∞u ƒë√£i ƒë·ªãnh k·ª≥ ƒë·ªÉ tƒÉng m·ª©c ƒë·ªô g·∫Øn k·∫øt

V√≠ d·ª•:
Khi kh√°ch h√†ng mua th·ªãt ‚Üí g·ª£i √Ω gia v·ªã v√† n∆∞·ªõc s·ªët ph√π h·ª£p.

5.4 Li√™n h·ªá v·ªõi lu·∫≠t k·∫øt h·ª£p

C√°c chi·∫øn l∆∞·ª£c marketing ƒë∆∞·ª£c x√¢y d·ª±ng tr·ª±c ti·∫øp t·ª´ c√°c lu·∫≠t k·∫øt h·ª£p n·ªïi b·∫≠t trong t·ª´ng c·ª•m kh√°ch h√†ng. Vi·ªác n√†y gi√∫p c√°c g·ª£i √Ω s·∫£n ph·∫©m mang t√≠nh c√° nh√¢n h√≥a, d·ª±a tr√™n h√†nh vi mua s·∫Øm th·ª±c t·∫ø thay v√¨ ng·∫´u nhi√™n, t·ª´ ƒë√≥ tƒÉng kh·∫£ nƒÉng ch·∫•p nh·∫≠n c·ªßa kh√°ch h√†ng.

5.5 K·∫øt lu·∫≠n b∆∞·ªõc 5

B∆∞·ªõc 5 cho th·∫•y gi√° tr·ªã th·ª±c ti·ªÖn c·ªßa vi·ªác ph√¢n c·ª•m kh√°ch h√†ng d·ª±a tr√™n lu·∫≠t k·∫øt h·ª£p. K·∫øt qu·∫£ ph√¢n t√≠ch kh√¥ng ch·ªâ gi√∫p hi·ªÉu r√µ h√†nh vi mua s·∫Øm c·ªßa t·ª´ng nh√≥m kh√°ch h√†ng m√† c√≤n l√† c∆° s·ªü ƒë·ªÉ x√¢y d·ª±ng c√°c chi·∫øn l∆∞·ª£c marketing hi·ªáu qu·∫£, g√≥p ph·∫ßn t·ªëi ∆∞u doanh thu v√† n√¢ng cao kh·∫£ nƒÉng gi·ªØ ch√¢n kh√°ch h√†ng.